.slider-decorator-0{
margin-bottom: .15rem;
}
.am-wingblank-lg{
    margin: 0!important;
}
.am-carousel-wrap{

    
    .am-carousel-wrap-dot{
        span{
border-radius: 0;
       
        width: .05rem;
        height: .05rem;
        background: rgb(255, 255, 255);
        opacity: .5; }
    }
    .am-carousel-wrap-dot-active{
       
            border-radius: 0;
width: .15rem;
height: .05rem;
background: rgb(255, 255, 255);
    }
}