a{
    
    display: block;
.box{
    // padding: .05rem 0 0 0;
    width: 3.54rem;
    height: 2.07rem;
    overflow: hidden;
    margin: 0 auto .1rem;
    position: relative;
        color: #fff;
       
        .img{
            width: 3.54rem;
            height: 2.07rem;
        }
        .text{
            position: absolute;
            bottom: 0rem;
            padding: .1rem 0;     padding-top: .2rem;   padding-left: .1rem;
            left: 0rem;
            right: 0;
            background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.55));
            .p1{
                display: block;
                margin-bottom: .05rem;
                text-transform: uppercase;
                height: .16rem;
                line-height: .16rem;
                font-size: .16rem;
                text-align: left;
            }
            .p2{
                display: block;
                margin-bottom: .05rem;
                text-transform: uppercase;
                height: .14rem;
                line-height: .14rem;
                font-size: .14rem;
                text-align: left;
            }
            .p3{
                display: block;
                margin-bottom: .05rem;
                text-transform: uppercase;
                height: .14rem;
                line-height: .14rem;
                font-size: .14rem;
                text-align: left;
            }
        }
    
}}